.Graph2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Adjust the height as needed */
  background-color:#fff;

   /* Optional background color */
}

/* Optional styles for the plot container */


.graph-container {
  width: 1400px; /* Adjust the width as needed */
  max-width: 1400px;
  height: 600px; /* Adjust the height as needed */
}


